.lobby
  .lobby_player
    .lobby_player--first{data: {creator_id: lobby.user.id}}
      = lobby.user.name
    .lobby_player--second{data: {guest_id: (lobby.guest ? lobby.guest.id : nil)}}
      = lobby.guest.try(:name)
  .lobby__field
    .lobby__name
      = current_user.lobby.try(:name) || current_user.guest_lobby.name
    .lobby__timer
    %ul.lobby__figures
      %li{data: {figure: "rock"}} Rock
      %li{data: {figure: "scissors"}} Scissors
      %li{data: {figure: "paper"}} Paper
      %li{data: {figure: "lizard"}} Lizard
      %li{data: {figure: "spok"}} Spok
  .lobby__history History
  .lobby__control-panel
    = button_to("Start", '#', disabled: !lobby_full?(lobby)) if current_user.owner_lobby?
    = button_to("Leave lobby", lobby_path(lobby.id), method: :delete)
